*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    height: 50px;
    width: auto;
    border-radius: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.navbar .img2{
    height: 30px;
    width: 35px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(199, 46, 46);
    font-size: 30px;
    border-radius: 30px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: #ff523b;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding:  0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(62, 202, 202);
}
.btn{
    display: inline-block;
    background: #3af343;
    color: red;
    padding: 8px 30px;
    margin: 30px ;
    margin-left: 0;
    transition: background 1.5s;
    border-radius: 30px;
    text-decoration: none;

}
.btn:hover{
    background: rgb(64, 19, 106);
}

.header{
    background: radial-gradient(#fff,#ffd111d5);
}
body{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 0.5s;
}
.col-3:hover{
    transform: translateY(15px);
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.8s;
    cursor: pointer;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: rgb(123, 249, 5);
    font-size: 40px;
    position: relative;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 300px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 365px;
    transition: translateX();
    -webkit-transition: translateX();
    -moz-transition: translateX();
    -ms-transition: translateX();
    -o-transition: translateX();
}
.rating{
    color: red;
}

.col-4:hover{
    transform: translateY(-15px);
}
.offer1{
    background: radial-gradient(#fff,#9aff02d5);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2.offer-img{
    padding: 50px;
}
.p1{
    color: red;
    font-size: 20px;
}
/*---------- testimonial ----------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    cursor: pointer;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 35px;
    color: rgb(255, 1, 255);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: rgb(140, 29, 29);
}
.testimonial .col-3 h3{
    font-weight: 600;
    font-size: 16px;
}
/*---------- brands ----------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/*-----------footer------------*/

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, footer-col-2, footer-col-3, footer-col-4{
    min-height: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}


/*---------- all products page ------*/

.row-row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.row-row-2 h2{
    display: inline-block;
}
.row-row-2 select{
    margin-left: 100%;
    border: 1px solid red;
    padding: 5px;
}
.row-row-2 select:focus{
    outline: none;
}

/*----single product details------*/

.single-product{
    margin-top: 80px;
}
single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 20px;
   margin-right: 10px;
   border: 1px solid #ff523b;

}
input{
    outline: none;
}

/*------- cart items -------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}